@charset "UTF-8";

body {
	padding-bottom: 100px; 
}

.category-area {
	background: #FDF5E6;
	position: fixed; 
	top: 100px; 
	z-index: 100;
	width: 100%;
	max-width: 450px;
}

.category-wrap {
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	padding: 10px 0;
	border-bottom: 2px solid #55a055; 
	background: #FDF5E6;
}

.category-wrap::-webkit-scrollbar {
	display: none;
}

.category-table {
	border-collapse: separate;
	border-spacing: 15px 0;
	white-space: nowrap;
	padding: 0 5px;
}

.category-table input {
	border: none;
	background: transparent;  
	font-size: 16px;
	font-weight: bold;
	color: #666666; 
	cursor: pointer;
	padding: 4px 0;
	outline: none;
}

.category-table input.active {
	color: #55a055;              
	border-bottom: 3px solid #55a055; 
}

/* =========================
   商品一覧
========================= */
.product-area {
	margin-top: 160px; 
	width: 100%;
	max-width: 450px;
	box-sizing: border-box;
	padding: 10px 25px;
}

.product-table {
	width: 100%;
	border-collapse: collapse;
}

.product-item-row {
	border-bottom: 1px solid #e1d3b7;
	background-color: transparent; 
}

.product-info-cell {
	padding: 22px 0;
}

.product-action-cell {
	padding: 22px 0;
	width: 55px; 
	text-align: right;
}

.product-name {
	font-size: 15px;
	font-weight: bold;
	color: #000000;
}

.product-price {
	margin-top: 15px;
	font-size: 14px;
	color: #333333;
}

/* ＋の画像ボタン */
.btn-img-add {
	width: 40px;
	height: 40px;
	cursor: pointer;
	vertical-align: middle;
	object-fit: contain;
	border-radius: 50%; 
	transition: all 0.15s ease-in-out;
}

.btn-img-add:hover {
	background-color:  #8bf79c; 
	transform: scale(1.1);      
}

.btn-img-add:active {
	background-color:  #8bf79c; 
	transform: scale(0.92);     
}

.img-sold-out {
	width: 52px;
	height: auto;
	vertical-align: middle;
}

.no-data-message {
	width: 100%;
	text-align: center;
	padding: 60px 0;
	font-size: 16px;
	font-weight: bold;
	color: #555555;
}